header{
    display: flex;
    align-items: center;
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .image {
    margin-left: 20px;
    width: 143px;
    height: 60px;
    background-image: url('/images/logo.png');
}