.filters {
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 74px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.filters .amenities {
    height: 100%;
    width: 25%;
    margin-left: 0;
    margin-right: auto;  
}


.filters .locations h3, .filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 15%;
}

 .filters .locations h4, .filters .amenities h4 {
     font-weight: 400;
     font-size: 14px;
     margin-top: 0;
     margin-left: 15%;
 }
 

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    margin-top: 22px;
}

.popover .first-head {
   margin-top: 5%;
}

ul li h2 {
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 10%;
} 


ul {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 5%;
}

.second li:first-child {
   padding-top: 15%;
}

.second li:nth-child(4) {
    padding-bottom: 10%;
 }

 .second li {
    padding-left: 10%;
 }

 
.locations:hover .popover {
    visibility: visible;
}

.amenities:hover .popover {
    visibility: visible;
}